/* start last-product-box style */

.last-products-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  background-color: #e1f2cb;
}
.last-products-wrapper {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-title {
  margin: 4rem 0;
  font-weight: bold;
  color: var(--color);
}

/* end last-product-box style */

