.about-us {
  background-color: var(--body);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
}
.about-us-wrapper .title {
  font-size: 22px;
  text-align: center;
}
.about-us-wrapper .detail {
  font-size: 15px;
  color: var(--subtext);
  direction: rtl;
  line-height: 33px;
  margin-top: 20px;
}
