/* start branches styles */
.branches {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.branches-title {
  margin: 2rem 0;
  font-weight: bold;
  color: var(--color);
}
.branches-wrapper {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end branches styles */
